.footer{
    height: 95px;
    width: 100%;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;

}

.footer-pagination{
    background-color: #0D2B77;
    padding: 13px;

    border-radius: 200px;

    
}